{% extends "base/base.html" %}

{% load static %}
{% load cache %}
{% load dv_extend %}

{% block main %}
{% if object_list %}

{% for news in object_list %}{% if news.status.code == "S" %}{# Sticky ones first! #}
  <h2><img class="icon_header" src="{% if news.icon %}{{ news.icon }}{% else %}{% static 'newspaper.png' %}{% endif %}" alt="" /><span class="headline"> {{ news.title }}</span></h2>
  {{ news.text|safe|bbcode }}
{% endif %}{% endfor %}

{% for news in object_list %}{% if news.status.code == "A" %}{# Then the rest. All active #}
  {% cache 600 "mainnews_a" news.id news.last_updated %}
  <h2><img class="icon_header" src="{% if news.icon %}{{ news.icon }}{% else %}{% static 'newspaper.png' %}{% endif %}" alt="" /><span class="headline"> {{ news.title }}</span><span class="date">{{ news.created_at|date:"P - F j, Y (T)" }}</span></h2>
  {{ news.text|safe|bbcode }}
  {% endcache %}
{% endif %}{% if user.is_authenticated %}{% if news.status.code == "L" %}{# Then the rest. Logged in filter #}
 {% cache 600 "mainnews_l" news.id news.last_updated %}
 <h2><img class="icon_header" src="{% if news.icon %}{{ news.icon }}{% else %}{% static 'newspaper.png' %}{% endif %}" alt="" /><span class="headline"> {{ news.title }}</span><span class="date">{{ news.created_at|date:"P - F j, Y (T)" }}</span></h2>
 {{ news.text|safe|bbcode }}
 {% endcache %}
{% endif %}{% endif %}{% endfor %}


{% else %}
<h2><img class="icon_header" src="{% static 'newspaper.png' %}" alt="" />There Is No News!</h2>
No news here yet! You should take a trip to the admin interface and add some!
{% endif %}
{% endblock %}
