{% extends "base/base.html" %}

{% load static %}
{% load cache %}
{% load dv_extend %}

{% block main %}
<h2><img class="icon_header" src="{% static 'user_green.png' %}" alt="" />Complete Artist List</h2>

<p>
{% for letter in alphabet %}<a href="{% url 'radio:artists_list' letter %}">{{ letter|upper }}</a> {% endfor %} [<a href="{% url 'radio:artists_list' %}">All Artists</a>]
</p>

<p>
{% for artist in artists_list %}
<span>
    {% if artist.home_country %}
        {{ artist.home_country|safe }}
    {% else %}
        <img src="{% static 'user_green.png' %}" />
    {% endif %}
    <a href="#" {% if artist.alias_of %}title="Alias of {{artist.alias_of}}"{% else %}{% if artist.aliases.all %}title="Aliases : {% for alias in artist.aliases.all %}{{ alias.handle }} {% endfor %}"{% endif %}{% endif %}>{{ artist.handle }}{% if artist.name %} ({{ artist.name }}){% endif %}</a>
    {% if artist.is_deceased %}
        <img src="{% static 'deceased.png' %}" class="countryflag" title="Deceased {% if artist.deceased_date %}[On {{ artist.deceased_date|date:'F j, Y' }}]{% endif %}" />
    {% endif %}
    </span>
<br />
{% endfor %}
</p>

<p>
Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
    <p>
    {% if page_obj.has_previous %}
    <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
    {%else%}
    Previous
    {% endif %}

    {% for p in paginator %}
    {% if p.number == page_obj.number %}<b>{{ p.number }}</b>{% else %}<a href="?page={{ p.number }}">{{ p.number }}</a>{% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}">Next</a>
    {%else%}
    Next
    {% endif %}
    </p>
</p>

<p>
Not Finding Who You're Looking For?
<a href="#">Suggest A New Artist!</a>
</p>
{% endblock %}
