{% extends "base/base.html" %}

{% load static %}
{% load cache %}
{% load dv_extend %}

{% block main %}
<h2><img class="icon_header" src="{% static 'sound.png' %}" alt="" />Song Platforms</h2>

<p>
{% for platform in platforms_list %}
<img src="{{ platform.symbol.url }}" alt="{{ platform.name }}" />
<a href="#">{{ platform.name }}</a> (XX Songs)<br />
{% endfor %}
</p>

{% endblock %}
