{% extends "base/base.html" %}

{% load static %}
{% load cache %}
{% load dv_extend %}

{% block main %}
<h2><img class="icon_header" src="{% static 'music.png' %}" alt="" />List of Songs</h2>

<p>
{% for letter in alphabet %}<a href="{% url 'radio:songs_list' letter %}">{{ letter|upper }}</a> {% endfor %}
</p>

<table class="songlist sortable-onload-show-0">
<tr>
    <th class="sortable-text">Song Title</th>
    <th class="sortable-text">Artist</th>
    <th class="sortable-numeric">Song Length</th>
    <th class="sortable-text">Status</th>
    <th class="sortable-numeric">Vote</th>
    <th class="sortable-sortLocked">Queue</th>
    <th class="sortable-text">Last Request</th>
</tr>
{% for song in songs_list %}
<tr class="{# cycle 'row1' 'row2' #}">
    <td>{{ song.title }}</td>
    <td>
    {% for artist in song.artists.all %}{% with artist as A%}{% include "webview/t/artist.html" %}{% endwith %}{% if forloop.last %} {% else %}, {% endif %}{% endfor %}
    {% for group in song.groups.all %}{% with group as G%}{% include "webview/t/group.html" %}{% endwith %}{% if forloop.last %} {% else %}, {% endif %}{% endfor %}
    </td>
    <td>{{ song.length }}</td>
    <td>{{ song.get_status_display }}</td>
    <td>{{ song.rating|floatformat:1 }}</td>
    <td>
        <span data-name="a_queue_{{ song.id }}">
            <img class="song_head" src="{% static 'locki.png' %}" title="Song Locked" />
        </span>
    </td>
    <td><span class="lastreqdate">{{ song.last_queued|date:"Y-m-d" }}</span></td>
</tr>
{% endfor %}
</table>

<p>
Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
    <p>
    {% if page_obj.has_previous %}
    <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
    {%else%}
    Previous
    {% endif %}

    {% for p in paginator %}
    {% if p.number == page_obj.number %}<b>{{ p.number }}</b>{% else %}<a href="?page={{ p.number }}">{{ p.number }}</a>{% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}">Next</a>
    {%else%}
    Next
    {% endif %}
    </p>
</p>
{% endblock %}
