{% extends "base/base_skeleton.html" %}
{% load dv_extend %}
{% load cache %}

{% block content %}
    <div id="sidebar">
        <h3>Welcome, {% if user.is_authenticated %}{{ user }}{% else %}Visitor{% endif %}!</h3>
        {% block sidebar %}
        <ul class="menulist">
            <li id="home"><a href="{% url 'core:home' %}">Home</a></li>
            <li id="forum"><a href="#">Forum</a></li>
            <li id="songs"><a href="{% url 'radio:songs_list' %}">Songs</a></li>
            <li id="song-source"><a href="#">Sources</a></li>
            <li id="song-platform"><a href="{% url 'radio:platforms_list' %}">Platforms</a></li>
            <li id="artists"><a href="{% url 'radio:artists_list' %}">Artists</a></li>
            <li id="groups"><a href="#">Groups</a></li>
            <li id="labels"><a href="#">Labels</a></li>
            <li id="compilations"><a href="#">Compilations</a></li>
            <li>&nbsp;</li>
            <li id="menuqueue"><a href="#">Queue</a></li>
            <li>&nbsp;</li>
            <li id="search"><a href="#">Search</a></li>
            <li id="recent"><a href="#">New Uploads</a></li>
            <li>&nbsp;</li>
            <li id="faq"><a href="#">FAQ</a></li>
            <li id="links"><a href="#">Links</a></li>
        </ul>
        {% endblock %}
        <br />
        <h3>Infamous OneLiner</h3>
        {% if user.is_authenticated %}
        <form action="#" method="post" enctype="application/x-www-form-urlencoded"  onsubmit="apf('#',this); this.Line.value = ''; return false;" >
            <input id="blah" name="Line" autocomplete="off" maxlength="256" onkeydown="return tc(this,event.keyCode);" onkeypress="return canceltab(event.keyCode);" value="GURU MEDITATION" onfocus="if (this.value == 'GURU MEDITATION') { this.value=''; }" /><input id="makeitso" type="submit" value="" />
            <div class="onelinertools"></div>
        </form>
        {% endif %}
        {# get_oneliner #}
        <a href="#">Oneliner History</a>
    <br /><br />
        <h3>Who's Online?</h3>
    {% cache 60 whosonline %}
        {# get_online_users #}
    {% endcache %}
    </div>

    <div id="rightside">
        <h3>User Menu</h3>
        <div class="message-display-settings">Notification settings</div>
        <ul>
        {% if user.is_authenticated %}
            <li id="profile"><a href="#">Edit My Profile</a></li>
            <li id="favorites"><a href="#">My Favourites</a></li>
            <li id="inbox"><a href="#">My Inbox {# get_inbox user #}</a></li>
            <li id="logout"><a href="#">Log Me Out</a></li>
        {% else %}
            <li id="login"><a href="#">Log In / Register</a></li>
        {% endif %}
        {% if user.is_staff %}
            <li id="admin"><a href="#" target="admin">Admin Area</a></li>
        {% endif %}
        {% if perms.webview.change_song %}
            <li id="menuqueue"><a href="#">Unapproved Uploads</a></li>
        {% endif %}
        {% if perms.webview.add_mute_oneliner %}
                <li id="menumute"><a href="#">Mute account</a></li>
        {% endif %}
        {% if user.is_staff %}
        <li></li>
        {% if perms.webview.change_artist %}
            <li id="unap-artists"><a href="#">Pending Artists</a></li>
        {% endif %}
        {% if perms.webview.change_group %}
            <li id="unap-groups"><a href="#">Pending Groups</a></li>
        {% endif %}
        {% if perms.webview.change_label %}
            <li id="unap-labels"><a href="#">Pending Labels</a></li>
        {% endif %}
        {% if perms.webview.change_link %}
            <li id="unap-links"><a href="#">Pending Links</a></li>
        {% endif %}
        {% endif %}
        </ul>
        <br />
        <h3>Currently Playing</h3>
        <div data-name="nowplaying">
        {#% current_song %#}
        <div>
        {# {% get_rating_stars_song_avg user %} #}
        </div>
        </div>

    <form>
        <hr style="width: 80%; background-color: #000; height: 1px; border: 0px;" />
        <input type="button" style="border: 1px solid; border-color: #333;" value="Listen" onClick="window.open('#','player','width=340,height=25,toolbar=no,scrollbars=no,resizable=no,location=no,directories=no,status=no,menubar=no,copyhistory=no')" /> - <a href="#">Streams</a>
    </form>

    {# get_sidebar_news #}
        {% for sbnews in sidebarnews %}
        {% cache 3600 "sidebarnews" sbnews.id sbnews.last_updated %}
            <br />
            <h3>{{ sbnews.title }}</h3>
            {{ sbnews.text|safe }}
        {% endcache %}
    {% endfor %}

    </div>

    <div id="main">
    {% cache 1 logoblock %}<h1>{% site_name %}</h1>
    <div style="overflow:hidden">{% logo %}</div>{% endcache %}
    <div style="overflow:auto" id="maincontent">
        {% block main %}{% endblock %}
    </div>
    <div id="footer">
        <span id="copyleft">
        Powered by <a href="#">Demovibes</a><br />
        </span>
        <span id="copyright">
        layout: <a href="http://raina.daug.net/">raina</a>,
        icons: <a href="http://www.famfamfam.com/"><span style="color: #f15;">fam</span><span style="color: #1cf;">fam</span><span style="color: #bf3;">fam</span></a>
        </span>
    </div>
    </div>


{% endblock %}
