{% load dv_extend %}{% load static %}<!DOCTYPE html>
<html lang="en" {% block html %}id="base"{% endblock %}>
  <head>
    {% block earlyheadblock %}{% endblock %}
    <link rel="stylesheet" href="{% static 'themes/base.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'themes/default/style.css' %}" type="text/css" />
    <link rel="icon" type="image/vnd.microsoft.icon" href="{% static 'favicon.ico' %}" />
    <title>{% block title %}Welcome{% endblock %} - {% site_name %}</title>
    <meta name="Description" content="Demovibes Demoscene Radio - your 24/7 source of demoscene music" />
    <meta name="Keywords" content="demoscene, demo scene, scene music, scenemusic, radio, stream, streaming, demovibes, demo vibes, nectarine, necta" />
    <script src="{% static 'js/jquery.min.js' %}" type="text/JavaScript"></script>
    <sscript src="{% static 'js/dutils.js' %}" type="text/JavaScript"></script>
    <sscript src="{% static 'js/dobject.js' %}" type="text/JavaScript"></script>
    <sscript src="{% static 'js/dtabcomplete.js' %}" type="text/JavaScript"></script>
    <script src="{% static 'js/jquery.qtip.min.js' %}" type="text/JavaScript"></script>
    <script src="{% static 'js/sort/tablesort.min.js' %}" type="text/JavaScript"></script>
    <script src="{% static 'js/jquery/popup.js' %}" type="text/JavaScript"></script>
    <script>
    STATIC_URL = "{% static '' %}";
    </script>
    {% block headblock %}{% endblock %}
  </head>
  <body {% block bodyid %}id="site"{% endblock %} onload="nope_ajaxmonitor({# ajaxevent #});" onunload="nope_ajaxmonitorabort();">
    {% block content %}{% endblock %}
  </body>
</html>
