@import url(nectarine.css);

/**
 ** Author: Art McBain
 ** This stylesheet is PUBLIC DOMAIN.
 **
 ** All referenced images subject to the license of the demovibes project:
 ** https://github.com/arabek/demovibes
 **/

* {
    font-family: sans-serif;
    font-size: 9pt;
}

html {
    background-color: #fff;
}

h2, #maincontent h1 {
    position: relative;
    margin-top: 1em;
    margin-bottom: 1ex;
    padding-right: 24px;
    font-size: 10pt;
    font-weight: bold;
    text-align: right;
    border-bottom: 1px solid #444;
    background-position: 100% 0;
    background-repeat: no-repeat;
}

h1, h2 img {
    position: absolute;
    top: 0;
    right: 2px;
}

div[data-name=nowplaying] {
    text-align: center;
    padding-bottom: 1em;
}

/* Hide the platform icon when it would normally display the "platform not set" icon */
div[data-name=nowplaying] img[src*=empty] {
    display: none;
}

/* Forces the "by {artist}" part onto the next line by inserting a block element after the song title link */
div[data-name=nowplaying] a[href*=song]:after {
    display: block;
    content: "";
}

/* The previous style will also include the voting star links. This undoes that just in case it matters */
div[data-name=nowplaying] a[href*=vote]:after {
    display: inline;
}

/*
   Centers the "explicit content" image, which appears after the song title, and thus on the next line
   after the line-break inserted above ... best fix for the moment for this, as they re-used a CSS class
   (something you really shouldn't do like this, makes things hard to style)
 */
div[data-name="nowplaying"] .text-link {
    display: block;
    margin: 0 auto !important;
}

/*
   Allows us to make items inside table as large as possible (tables on demovibes appear "full width"
   even if they're not declared that way, so this doesn't hurt anything)
 */
form table {
    width: 100%;
}

form table ul {
    list-style-type: none;
}

/*
   Centers the submit buttons at the bottom of the PM, Edit Profile forms, and adding new threads on
   the forum. It also moves them down a bit further to prevent them from being easily overlooked
 */
input[value="Send"], input[value="Update"], input[value="Post"], input[value="Submit"] {
    display: block;
    margin: 1ex auto 0 auto;
}

input[value="Search"] {
    margin-left: .25em;
}

input[value^="Log In"] {
    display: block;
    margin: 0 auto;
}

input[value^="Log Me Out"] {
    display: block;
    margin: 0 auto;
}

/* Textarea for adding new song comments. Make it as wide as possible */
textarea[name="Comment"] {
    width: 97%;
    margin-bottom: .5em;
}

/* The little green guys don't like text encroaching on their personal space bubble */
img[src*="user_green"] {
    margin-right: 5px;
}

img[id^="vote-"] {
    width: 18px;
    height: 18px;
}

a {
    font-weight: bold;
    text-decoration: none;
    color: #a60;
}

a img {
    vertical-align: top;
    border: none;
}

/* I only changed the background-color, but I pulled all the styles in here. It's harder to override inline styles */
hr {
    width: 80% !important;
    height: 1px !important;
    border: 0px none !important;
    background-color: #444 !important;
}

#sidebar, #rightside, #main {
    margin-bottom: 10px;
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 60px 10px 30px 10px;
    -moz-border-radius: 60px 10px 30px 10px;
    -webkit-border-radius: 60px 10px 30px 10px;
    border: 1px solid #888a85;
    background-color: rgba(221, 221, 221, .498);
}

#sidebar, #rightside {
    width: 230px;
    text-align: center;
}

/*
   The bottom of the #rightside (right sidebar) has a <br> at the bottom. This one doesn't, so the "Who's Online?"
   section is too close to the bottom otherwise.
 */
#sidebar {
    float: left;
    padding-bottom: 1em;
}

/* This is what makes all the website's section headings appear as a right-aligned, underlined title */
#sidebar h3, #rightside h3 {
    margin-top: 0;
    margin-bottom: 1ex;
    padding-right: 2px;
    font-size: 10pt;
    font-weight: bold;
    text-align: right;
    border-bottom: 1px solid #444;
    background-position: 100% 0;
    background-repeat: no-repeat;
}

/* Since the tops of our sidebars are curved, the underlines we defined above don't work so well here */
#sidebar > h3:first-child, #rightside > h3:first-child, #sitemenu h3:first-child, #usermenu h3:first-child {
    margin-top: .5em;
    border-bottom: none;
}

#sidebar ul, #rightside ul {
    display: inline-block;
    margin-top: 1em;
    padding-left: 0;
}

#sidebar ul li, #rightside ul li {
    display: block;
    min-height: 16px;
    padding-left: 22px;
    text-align: left;
    background-repeat: no-repeat;
}

#sidebar form , #rightside form {
    position: relative;
    width: 100%;
    margin-bottom: .5em;
    text-align: center;
}

#rightside .vote form {
    margin-bottom: 0;
}

/* Center the "Oneliner History" link. I wish this had an id on it, so it didn't rely on the value of the href */
#sidebar a[href="/demovibes/oneliner/"] {
    display: block;
    width: 50%;
    margin: 0 auto;
}

#rightside {
    float: right;
}

/*
   Center the "Disclaimer" section text. The disclaimer div doesn't have any identifiable attributes so we must
   target all paragraph tags in the right sidebar, and make exceptions for non-centered identifiable paragraphs
 */
#rightside p {
    text-align: center;
}

/* Uncenter the "The Team" section text. Demovibes after the validation errors fix doesn't need this anymore. */
#rightside div[align=left] p {
    text-align: left;
}

/* Button code from http://www.webdesignerwall.com/tutorials/css3-gradient-buttons/ */

#rightside input[value="Listen"] {
    display: inline-block;
    vertical-align: baseline;
    margin: 0 2px;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font: 14px/100% sans-serif;
    padding: .1em .5em .15em;
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
    border-radius: .5em;
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
    color: #fef4e9;
    border: solid 1px #da7c0c !important;
    background: #f78d1d;
    background: -webkit-linear-gradient(top, #faa51a, #f47a20);
    background: -moz-linear-gradient(top, #faa51a, #f47a20);
    background: -ms-linear-gradient(top, #faa51a, #f47a20);
    background: linear-gradient(top, #faa51a, #f47a20);
}
#rightside input[value="Listen"]:hover {
    text-decoration: none;
    background: #f47c20;
    background: -webkit-linear-gradient(top, #f88e11, #f06015);
    background: -moz-linear-gradient(top, #f88e11, #f06015);
    background: -ms-linear-gradient(top, #f88e11, #f06015);
}
#rightside input[value="Listen"]:active {
    position: relative;
    top: 1px;
    color: #fcd3a5;
    background: -webkit-linear-gradient(top, #f47a20, #faa51a);
    background: -moz-linear-gradient(top, #f47a20, #faa51a);
    background: -ms-linear-gradient(top, #f47a20, #faa51a);
    background: -linear-gradient(top, #f47a20, #faa51a);
}

/* end borrowed button code */

#rightside hr {
    margin-top: 1em;
    margin-bottom: 1em;
}

/*
   Sometimes text in the oneliner is too long and has no spaces, so rather than hide the overflow, or let it
   overflow into the main content area, let the browser provide a scrollbar until that oneliner message is
   pushed out of the view. Even if you don't use the scrollbar, the oneliner should appear the same. Total win
 */
#oneliner {
    overflow: auto;
    text-align: left;
}

/* All the top right and left menu images */
#home         {background-image: url("nectarine-static/house.png");}
#songs        {background-image: url("nectarine-static/music.png");}
#song-platform    {background-image: url("nectarine-preview/joystick.png");}
#artists    {background-image: url("nectarine-static/user_green.png");}
#compilations   {background-image: url("nectarine-preview/cd.png");}
#screenshots   {background-image: url("nectarine-preview/pictures.png");}
#licenses   {background-image: url("nectarine-preview/page.png");}
#tagcloud        {background-image: url("nectarine-preview/tag_yellow.png");}
#statistics   {background-image: url("nectarine-static/chart_bar.png");}
#recent            {background-image: url("nectarine-static/new.png");}
#sidebar #menuqueue    {background-image: url("nectarine-static/script.png");}
#rightside #menuqueue    {background-image: url("nectarine-preview/page_white_get.png");}
#search        {background-image: url("nectarine-static/find.png");}
#forum        {background-image: url("nectarine-static/user_comment.png");}
#profile    {background-image: url("nectarine-preview/vcard_edit.png");}
#favorites    {background-image: url("nectarine-static/heart.png");}
#register    {background-image: url("nectarine-static/page_white_edit.png");}
#logout        {background-image: url("nectarine-static/door_out.png");}
#login        {background-image: url("nectarine-static/door_in.png");}
#admin        {background-image: url("nectarine-preview/wrench.png");}
#inbox        {background-image: url("nectarine-static/email.png");}
#menumute  {background-image: url("nectarine-preview/sound_mute.png");}
#unap-artists   {background-image: url("nectarine-static/user_green.png");}
#unap-groups    {background-image: url("nectarine-static/group.png");}
#unap-labels    {background-image: url("nectarine-static/transmit_blue.png");}
#unap-links     {background-image: url("nectarine-static/link.png");}
#unap-compilations   {background-image: url("nectarine-preview/cd.png");}
#unap-screenshots {background-image: url("nectarine-preview/monitor.png");}
#unap-nju    {background-image: url("nectarine-preview/information.png");}
#groups         {background-image: url("nectarine-static/group.png");}
#labels        {background-image: url("nectarine-static/transmit_blue.png");}
#links        {background-image: url("nectarine-static/link.png");}
#recentchanges    {background-image: url("nectarine-preview/time.png");}
#faq        {background-image: url("nectarine-preview/help.png");}
#song-source        {background-image: url("nectarine-preview/server_connect.png");}
#chat        {background-image: url("nectarine-preview/user.png");}

#admin {
    margin-top: 16px;
}

#forum {
    margin-bottom: 16px;
}

#main {
    margin-left: 265px;
    margin-right: 265px;
    padding-top: 1em;
    padding-bottom: 1em;
    border-top-left-radius: 30px;
    -moz-border-radius-topleft: 30px;
    -webkit-border-top-left-radius: 30px;
}

/*
   Major "hack". The "Nectarine Demoscene Radio" header looks a bit odd above the logo, as we already know
   where we are (and we have the logo to identify the site :). So we might as well [ab]use it for something
   else. The text-indent hides the text content. The rest absolutely positions the tag behind all the content
   and turns it into the background image for the page. The background image, being transparent and striped,
   requires a background color behind it to show up. Since we don't want to use that same color for the rest
   of the page, we can't put this on the HTML tag. The body tag could work, since we could make the HTML
   have the page background color. However, putting it on the body tag causes problems with the layout created
   by this stylesheet. Since we don't control the output HTML, we'll just borrow this element for our purposes.

   The > selector ensures we only select the header that's a direct child of #main (there's only one) and not all
 */
#main > h1 {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 350px;
    z-index: -1;
    margin: 0;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    background-color: #fc3;
    background-image: url("nectarine-static/flamboyant.png");
    background-repeat: repeat-x;
}

#main h3 {
    margin: 4px 0 .5em 1em;
    font-size: 10pt;
    font-weight: bold;
    text-align: right;
}

/*
   Right align the form labels on the "Edit My Profile" page and line up the labels with their fields instead
   of letting them be vertically centered (as having both the field and description in the same table cell
   makes the row taller, which paired with table cells centering their contents by default ...) This also
   applies to the PM send/reply message page form
 */
#main form table th:first-child {
    vertical-align: top;
    padding-top: .25em;
    padding-right: 1ex;
    text-align: right;
}

/*
   At smaller screen resolutions, there isn't enough room in the middle for a 600px wide logo. This overrides
   the inline style to hide the overflow and adds a scrollbar when needed
 */
#mainlogo {
    overflow: auto;
    padding-bottom: 1px;
}

#logo {
    display: block;
    /*width: 600px;*/
    max-width: 100%;
    margin: 0 auto;
}

/* On the "My Favorites" page, reduce the space between the end of the song list table and the page navigation */
#maincontent > br:last-of-type {
    margin-top: -1em;
}

/*
   Most page navigations on Demovibes print each page number on a separate line in the source which, for inline
   elements, means browsers should turn the newlines into a space and display it on the same line as the previous
   element. On the favorites page, they're all printed on the same line in the source, so no spaces. I liked the
   spaces, and even more, interface consistency. So this adds the spaces back in.
 */
#maincontent a[href*="favorites/?page"]:after {
    content: " ";
}

/* See previous. The active page is a bold tag, not a link. */
#maincontent b:last-of-type:after {
    content: " ";
}

#sidebar form {
  padding-bottom: 1.5em;
}

/* Oneliner input */
#blah {
    display: inline-block;
    width: 197px;
    height: 17px;
    padding: 0;
    padding-right: 20px;
    font-size: 12px;
}

/* Oneliner input */
#makeitso {
    position: absolute;
    top: 2px;
    right: 8px;
    width: 16px;
    border: none;
    padding-left: 8px;
    padding-right: 8px;
    background-color: transparent;
    background-image: url("nectarine-static/comment.png");
}

.smileys-clicker {
  position: absolute;
  left: .5em;
  bottom: 0;
  text-decoration: underline;
}

#menuoneliner {
    margin-bottom: 1em;
}

#menuoneliner:before {
    content: url('nectarine-preview/status_offline.png');
    position: absolute;
    left: 20px;
}

#menuoneliner.updatesActive:before {
    content: url('nectarine-preview/status_online.png');
}

#menuoneliner.updatesIdle:before {
    content: url('nectarine-preview/status_away.png');
}

#whosonline {
    text-align: center;
}

#whosonline span {
    white-space: nowrap;
}

#whosonline .countryflag {
    margin-left: 5px;
}

#sidebarnews {
    margin-bottom: 1em;
}

/* Removes an ugly hover background color for certain form fields which was added by the base stylesheet */
#linksform tr:hover {
    background-color: transparent;
}

/* Textarea for editing forum posts. Make it as wide as possible */
#id_body {
    width: 98%;
    margin-bottom: .5em;
}

/* Textarea for creating PMs. See previous */
#id_message {
    width: 98%;
}

#djangoForumBreadcrumbs {
    margin-bottom: .5em;
}

.theme {
    position: relative;
}

.themeimage {
    max-height: 114px;
    overflow: hidden;
}

.theme .user_count, .theme .isdefault, .theme .islocal, .theme form {
    position: absolute;
    bottom: 1em;
    left: 0;
}

.theme .user_count, .theme .isdefault, .theme .islocal {
    right: 0;
    text-align: center;
}

.theme .isdefault {
    margin-bottom: 25px;
}

.theme .islocal {
    margin-bottom: 41px;
}

.theme .user_count {
    margin-bottom: 55px;
}

.theme form {
    margin-left: -32.5px;
    padding-left: 50%;
}

.freshnews h2 {
    position: relative;
}

.freshnews h2:after {
    content: url("nectarine-static/new.png");
    position: absolute;
    right: 2px;
}

/* Message-system styles */
.messagebox {
    left: 285px;
    right: 285px;
    width: auto;
}

.messagetitle {
    background: linear-gradient(top left, #ffcc33, #e7e6e6);
    background: -o-linear-gradient(top left, #ffcc33, #e7e6e6);
    background: -ms-linear-gradient(top left, #ffcc33, #e7e6e6);
    background: -moz-linear-gradient(top left, #ffcc33, #e7e6e6);
    background: -webkit-linear-gradient(top left, #ffcc33, #e7e6e6);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#ffcc33', endColorstr='#e7e6e6')";
    border-top: none;
    border-bottom-style: dashed;
}

.messagetitle, .messagelist {
    border: 1px solid #888a85;
}

.messagelist {
    border-top: none;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.messagelist:empty {
    display: none;
}

.messageholder {
    font-size: 14px;
    line-height: 14.5px;
    padding: 3px;
    opacity: 1;
    background-color: #fefef2;
    border-top: 1px dotted #e6e6db;
}

.messageholder:hover {
    background-color: #e6cea8;
}

.messageholder:first-child {
    border-top: none;
}

.messagetime {
    font-size: 9.8px;
    vertical-align: top;
}

.messagetext {
    vertical-align: middle;
}

.messagefadeborder {
    margin-top: 4px;
    background-color: #dddddd;
    border: 1px solid #888a85;
}

.messagefade {
    background-color: #fefef2;
}

/* I only changed the color, but I pulled all the styles in here. It's harder to override inline styles */
.onelinerpre > span:last-child {
    float: right !important;
    margin: 0 !important;
    text-align: right !important;
    color: rgb(153, 153, 153) !important;
}

.countryflag, .artist, .label_icon, .platform_icon, .group_icon, .compilation_icon, .text-link, img[src*=platform] {
    margin-right: 5px;
}

/* Oneliner content first line text indent */
.onelinertext {
    padding-left: .5em;
}

.onelinertext a {
    word-break: break-all;
}

.onelinertext, .onelinertext * {
    font-size: 10pt;
}

.nowplaying p {
    margin: 0;
}

.vote {
    margin: 0 auto;
}

.starbutton {
    font-size: 0;
}

/* Aligns the platform icon (ic chip image)  better with text on the same line */
.platform_icon {
    vertical-align: bottom;
}

.group_icon {
    margin-left: 5px;
}

/* Expands the (+) button link tag so we can center the inner image. See next CSS block */
.songlist span[name^=a_queue] a {
    display: block;
}

/* Horizontally centers the (+) button image in song lists */
.songlist span[name^=a_queue] img {
    display: block;
    margin: 0 auto;
}

.queuesongimage {
    vertical-align: text-bottom;
}

td > .song_tail {
    display: block;
    margin: 0 auto;
}

td.compilation_description > .song_tail {
    display: inline;
    margin: 0;
}

div > .song_tail {
    display: none;
}

.taglist + .songname ~ p:nth-of-type(4) + div > span:not([data-name]):first-child {
    display: inline-block !important;
    height: 16px;
    padding-left: 18px;
    font-size: 0;
    background: url("nectarine-static/lock.png") no-repeat;
}

.taglist + .songname ~ p:nth-of-type(4) + div > span:not([data-name]):first-child:after {
    content: "Song is currently locked for queuing.";
    font-size: 9pt;
    font-style: italic;
}

.songlist .artist {
    margin-right: 1ex;
}

.songlist .text-link {
    margin-left: 3px;
    margin-right: 0;
}

input.queuesongbutton {
    padding-left: 16px;
    background: url("nectarine-static/add.png") no-repeat;
    border: none;
    cursor: pointer;
}

.compilation_summary form p {
    white-space: nowrap;
}

.compilation_summary form label {
    display: inline-block;
    width: 66px;
    padding-right: 2px;
    text-align: right;
}

.compilation_summary form .helptext {
    display: block;
    margin-top: .25em;
}

.compilation_summary form input[type="submit"] {
    display: block;
    margin: 0 auto;
}

/*
   Makes the screenshot line up with the start of the text in the right column.
   A side effect is that border becomes more of an outline, which is okay here.
 */
.compilation_summary .screenshot {
    margin-top: -3px;
}

/* Limits the size of cover images on summaries and ensures a minimum width. */
.compilation_summary, .group_summary, .artist_details, .label_summary {
    max-width: 250px;
    min-width: 100px;
    padding-right: 1em;
}

/*
   Ensures left and right columns on the information pages are aligned to the
   top regardless of which has more content.
*/
.compilation_summary, .group_summary, .artist_details, .label_summary,
.compilation_description, .group_description, .artist_information, .label_description
{
    vertical-align: top;
}

.compilation_screenshot, .group_logo, .artist_logo {
    width: 100%;
}

/*
   The default in the base stylesheet is too small and not dynamic. There's a hover
   effect that won't encompass the entire image and caption if the height is fixed.
 */
div.screenshot, .screenshot {
    height: auto;
}

/* Someone left something in this theme without rounded edges?? Shame! :P */
.screenshot:hover {
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

/* Tag block shown on a song's info page */
.taglist {
    overflow: auto;
}

.taglist p {
    font-weight: bold;
}

.tagview_1, .tagview_2, .tagview_3, .tagview_4 {
    white-space: nowrap;
}

.tagview_1 a {
    font-size: x-small;
}

.tagview_2 a {
    font-size: medium;
}

.tagview_3 a {
    font-size: x-large;
}

.tagview_4 a {
    font-size: xx-large;
}

/* Stuff related to pagination displays */
.paging .active a {
    text-decoration: underline;
}

/* Search related */
.searchpostpreview {
    margin-left: 2em;
}

.searchpostpreview:first-of-type {
    border-top-left-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -webkit-border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    -moz-border-radius-topright: 10px;
    -webkit-border-top-right-radius: 10px;
}

.searchpostpreview:last-of-type {
    margin-bottom: 1em;
    border-bottom-left-radius: 10px;
    -moz-border-radius-bottomleft: 10px;
    -webkit-border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    -webkit-border-bottom-right-radius: 10px;
}

.searchpostpreview p {
    padding-left: .25ex;
}

.searchpostpreview p:first-child {
    padding-left: 0;
}

.searchpostpreview p:last-child {
    margin-bottom: 0;
}

.searchinfo a {
    padding-right: .25ex;
}

/* Used on the streams page, .popup is the information shown when rolling over a .bubbleInfo */
.bubbleInfo .popup {
    display: none;
}

/* Make the labels for adding a new thread on the forums right aligned and bold, to match other forms */
.label {
    vertical-align: top;
    padding-right: 3px;
    padding-top: 4px;
    font-weight: bold;
    text-align: right;
}

table.recentchanges td {
    vertical-align: top;
}

/*
   The following is all for the song list tables (queue, history, recent approvals, and the PM list)
   Why the PM list is classed as a songlist, I'll probably never know.
 */

table.songlist, table.recent-approvals {
    width: 100%;
    border-spacing: 0px;
}

table.songlist td, table.recent-approvals td {
    padding: 1px 5px 1px 5px;
}

/* Makes the span containing "add to queue" image as wide as the containing td, and centers the image */
table.songlist td span[data-name^="a_queue"], table.songlist td span.lastreqdate, table.recent-approvals td span.lastreqdate {
    display: block;
    text-align: center;
}

/* Puts the "add to queue" and "add to favorites" images side-by-side on the "new uploads" page */
table.recent-approvals td:last-child span, table.recent-approvals td:last-child a {
    float: left;
}

/*
   Fixes issue in WebKit and Opera browsers where the link clickable area is not in the same place as the image
   appears. This causes issues like unfaving the wrong song, or other things.
 */
table.songlist td a[href*="favorites/del"], table.recent-approvals td:last-child a {
    display: block;
}

table.recent-approvals td:nth-of-type(3), table.recent-approvals td:nth-of-type(5) span {
    white-space: nowrap;
}


table.recent-approvals td:nth-of-type(5) {
    text-align: left;
}

table.songlist th, table.recent-approvals th {
    padding: 3px;
}

/* Centers the text of the 3rd, 4th, and 5th columns of the table */
table.songlist td:nth-of-type(3), table.songlist td:nth-of-type(4), table.songlist td:nth-of-type(5),
table.recent-approvals td:nth-of-type(3), table.recent-approvals td:nth-of-type(4) {
    text-align: center;
}

table.songlist.statistics td:nth-of-type(3),
table.songlist.mailbox td:nth-of-type(3), table.songlist.mailbox td:nth-of-type(4) {
    text-align: left;
}

/* Style all even rows with a light color. Use the .row1 class for row styling not using CSS3 */
table.songlist tr:nth-of-type(even) td, table.recent-approvals tr:nth-of-type(even) td {
    background-color: #fefef2;
}

/* Style all odd rows with a dark color. Use the .row2 class for non-CSS3 row styling */
table.songlist tr:nth-of-type(odd) td, table.recent-approvals tr:nth-of-type(odd) td {
    background-color: #e6ddcf;
}

/* The next 5 blocks add borders to the sides of the table */
table.songlist tr td:first-of-type, table.recent-approvals tr td:first-of-type {
    border-left: 1px solid #e6cea8;
}

table.songlist tr td:last-of-type, table.recent-approvals tr td:last-of-type {
    border-right: 1px solid #e6cea8;
}

table.songlist tr:hover td, table.recent-approvals tr:hover td {
    background-color: #e6cea8;
}

/*
   Demovibes doesn't explicitly put the table row with the table headers inside a table header tag (<thead>)
   so when the browser implicitly creates the thead and tbody tag, the table headers are included in the
   table body. So we must style the second table row instead
 */
table.songlist tr:nth-child(2) td, table.recent-approvals tr:nth-child(2) td {
    border-top: 1px solid #e6cea8;
}

table.songlist tr:last-of-type td, table.recent-approvals tr:last-of-type td {
    border-bottom: 1px solid #e6cea8;
}

/* The next 5 blocks round the corners of the table border */
table.songlist tr:nth-child(2) td:first-of-type, table.recent-approvals tr:nth-child(2) td:first-of-type {
    border-top-left-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -webkit-border-top-left-radius: 10px;
}

table.songlist tr:nth-child(2) td:last-of-type, table.recent-approvals tr:nth-child(2) td:last-of-type {
    border-top-right-radius: 10px;
    -moz-border-radius-topright: 10px;
    -webkit-border-top-right-radius: 10px;
}

table.songlist tr:last-of-type td:first-of-type, table.recent-approvals tr:last-of-type td:first-of-type {
    border-bottom-left-radius: 10px;
    -moz-border-radius-bottomleft: 10px;
    -webkit-border-bottom-left-radius: 10px;
}

table.songlist tr:last-of-type td:last-of-type, table.recent-approvals tr:last-of-type td:last-of-type {
    border-bottom-right-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    -webkit-border-bottom-right-radius: 10px;
}

/* This gives the history table's bottom right corner more curve, to match the outer edge of the #main box */
div[data-name=history] table.songlist tr:last-of-type td:last-of-type, table.recent-approvals tr:last-of-type td:last-of-type, table#fd-table-1.songlist tr:last-of-type td:last-of-type {
    border-bottom-right-radius: 30px;
    -moz-border-radius-bottomright: 30px;
    -webkit-border-bottom-right-radius: 30px;
}

/* This following is all stuff to style the various tables used in the forums and song comments */

table#djangoForumList, table#djangoForumThreadList, table#djangoForumThreadPosts {
    width: 100%;
    border-spacing: 0px;
}

table#djangoForumList th, table#djangoForumThreadList th, #djangoForumThreadPosts th {
    padding: 3px;
}

table#djangoForumList td, table#djangoForumThreadList td {
    padding: 0px;
    padding-left: 5px;
    padding-right: 5px;
    border-bottom: 1px solid #aaa;
    border-right: 1px solid #aaa;
}

table#djangoForumList td.djangoForumListDetails .djangoForumStats {
    float: right;
}

table#djangoForumList td.djangoForumListDetails p {
    position: relative;
}

table#djangoForumList td.djangoForumListDetails p .djangoForumStats {
    position: absolute;
    right: 0;
    top: 0;
}

table#djangoForumList td.djangoForumListDetails p {
    margin-top: .25em;
    margin-bottom: .125em;
}

/* Bumps the thread name to the next line when there's text like "Sticky" in front of it */
table#djangoForumThreadList td.djangoForumThreadListName a {
    display: block;
    margin-top: .5em;
    margin-bottom: .5em;
}

table#djangoForumList tr td:first-of-type, table#djangoForumThreadList tr td:first-of-type {
    border-left: 1px solid #aaa;
}

/*
   Same as before, we have to deal with the table headers being inside the table body.
   I'll stop mentioning it, but if you see (:nth-child(2), this is probaby why
 */
table#djangoForumList tr:nth-child(2) td, table#djangoForumThreadList tr:nth-child(2) td {
    border-top: 1px solid #aaa;
}

/* Give all the form and thread lists rounded corners (next 4 blocks) */
table#djangoForumList tr:nth-child(2) td:first-of-type, table#djangoForumThreadList tr:nth-child(2) td:first-of-type {
    border-top-left-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -webkit-border-top-left-radius: 10px;
}

table#djangoForumList tr:nth-child(2) td:last-of-type, table#djangoForumThreadList tr:nth-child(2) td:last-of-type {
    border-top-right-radius: 10px;
    -moz-border-radius-topright: 10px;
    -webkit-border-top-right-radius: 10px;
}

table#djangoForumList tr:last-of-type td:first-of-type, table#djangoForumThreadList tr:last-of-type td:first-of-type {
    border-bottom-left-radius: 10px;
    -moz-border-radius-bottomleft: 10px;
    -webkit-border-bottom-left-radius: 10px;
}

table#djangoForumList tr:last-of-type td:last-of-type, table#djangoForumThreadList tr:last-of-type td:last-of-type {
    border-bottom-right-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    -webkit-border-bottom-right-radius: 10px;
}

/* Turn all columns grayish, make the first one white (next block) */
table#djangoForumList tr td:nth-of-type(n), table#djangoForumThreadList tr td:nth-of-type(n) {
    background-color: #f7f7f7;
}

table#djangoForumList tr td:nth-of-type(1), table#djangoForumThreadList tr td:nth-of-type(1) {
    background-color: #ffffff;
}

table#djangoForumThreadPosts {
    margin-top: .5em;
    margin-bottom: 1em;
    table-layout: fixed;
}

/*
   I would love to make this scroll, but scroll: auto doesn't work with table cells, and
   all solutions involve a div that wraps the cell contents (the div can then be styled
   to get a scrollbar)
*/
table#djangoForumThreadPosts .djangoForumThreadPostDetail {
    width: 112px;
    max-width: 112px;
    vertical-align: top;
    overflow: hidden;
    padding: 1em 0 0 1em;
}

table#djangoForumThreadPosts .djangoForumThreadPostDetail span {
    padding-right: .5em;
}

/*
   Hides the table header row on post lists, because it didn't really provide any
   useful information like other table headers did
 */
table#djangoForumThreadPosts tr:first-child {
    display: none;
}

.post > div, .post > p {
    overflow: auto;
}

/* The following blocks style lists of posts (rounded corners, etc) */
table#djangoForumThreadPosts tr.postmain td:first-child {
    border-top: 1px solid #aaa;
    background-color: #e7e6e6;
}

table#djangoForumThreadPosts tr.postmain td:first-child, table#djangoForumThreadPosts tr.postfooter td:first-child {
    border-left: 1px solid #aaa;
}

table#djangoForumThreadPosts tr:nth-of-type(2) td:first-child {
    border-top-left-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -webkit-border-top-left-radius: 10px;
}

table#djangoForumThreadPosts tr:nth-of-type(2) td:last-child {
    border-top-right-radius: 10px;
    -moz-border-radius-topright: 10px;
    -webkit-border-top-right-radius: 10px;
}

table#djangoForumThreadPosts tr:last-child td {
    border-bottom: 1px solid #aaa;
}

table#djangoForumThreadPosts tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
    -moz-border-radius-bottomleft: 10px;
    -webkit-border-bottom-left-radius: 10px;
}

table#djangoForumThreadPosts tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    -webkit-border-bottom-right-radius: 10px;
}

table#djangoForumThreadPosts tr.postfooter td {
    background-color: #e7e6e6;
}

table#djangoForumThreadPosts tr.postfooter td:first-child {
    padding-top: .25em;
    padding-left: .5em;
}

/* Right align text in the second post footer column ("Quote", "Edit Post" text) */
table#djangoForumThreadPosts tr.postfooter td:last-child {
    padding-right: .5em;
    text-align: right;
    border-right: 1px solid #aaa;
}

table#djangoForumThreadPosts tr.postfooter td:only-child {
    text-align: left;
}

/* Post content area padding, border, and alignment (to counter the table cell content centering) */
table#djangoForumThreadPosts .post {
    vertical-align: top;
    padding-left: .5em;
    padding-right: .75em;
    border: 1px solid #aaa;
    background-color: #fff;
}

/*
   Make it stand out just a tad so it's more obvious where the drop area
   is and also keep it from hanging over the edge of the main content.
 */
#sortsonglist.ui-sortable {
    display: block;
    width: auto;
    border: 1px dashed lightgray;
}

#footer {
    width: 100%;
}

#copyleft {
    float: left;
}

#copyright {
    float: right;
}

/* The top margin pops these out of the #maincontent element visually, as they're actually inside of it */
#copyleft, #copyright {
    margin-top: 1.5em;
    margin-bottom: .5em;
    font-size: 7pt;
    font-weight: normal;
}

#copyleft *, #copyright * {
    font-size: 7pt;
    font-weight: normal;
}

#copyleft a, #copyright a {
    color: #210;
}
